# ==== Configurações de IDE ====
# PyCharm/IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Editor temporários
*.swp
*.swo

# ==== Ambiente Python ====
# Virtualenv
.venv/
venv/

# Cache/compilados Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.python-version

# ==== Testes e Relatórios ====
# Pytest
.pytest_cache/
report.html
.coverage
htmlcov/

# ==== Sistema ====
.DS_Store
Thumbs.db

# ==== Logs e Temporários ====
*.log
*.tmp

# ==== Pastas específicas do projeto ====
assets/
images/
utils/

# ==== Exceções (não ignorar) ====

!pages/__init__.py
!tests/__init__.py
